:root {
  --color-gray-50: #79736d;
  --color-gray-90: #333333;

  --color-text: var(var(--color-gray-90));
  
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-size-xs: 10px;
  --font-size-s: 12px;

  --size-m: 16px;
  --size-xs: 12px;
  --size-1xs: 8px;
  --size-2xs: 4px;
}