:root {
  --color-white: #FFFFFF;
  --color-gray-10: #F3F2F2;
  --color-gray-20: #CCCCCC;
  --color-gray-50: #79736d;
  --color-gray-90: #333333;

  --color-text: var(var(--color-gray-90));
  
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-size-xs: 10px;
  --font-size-s: 12px;

  --size-3xs: 2px;
  --size-2xs: 4px;
  --size-1xs: 8px;
  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 20px;
  --size-xl: 30px;
  --size-2xl: 40px;
}