.button {
  --color-bg-disabled: var(--color-gray-10);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-s) var(--size-l);
  border: 1px solid transparent;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
  text-align: center;
  transition:
    opacity 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}

.button:disabled {
  cursor: not-allowed;
}
.button--full {
  width: 100%;
}

.button--primary {
  background-color: var(--color-gray-90);
  border-color: var(--color-gray-90);
  color: var(--color-white);
}

.button--primary:not(:disabled):hover {
  cursor: pointer;
  opacity: 0.8;
}

.button--primary:disabled {
  background-color: var(--color-bg-disabled);
  border-color: var(--color-bg-disabled);
  color: var(--color-text-disabled);
}
